.App {
  text-align: center;
}

button {
  background: #ff1493;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 1.2em;
  margin: 0.5em;
  padding: 0.25em;
}

button:hover {
  background: white;
  color: black;
  border: 1px solid #ff1493;
}
